@{
    Layout = null;

}
<!DOCTYPE html>
<html>
<head>
    <title>_TestLayout</title>
    <meta name="viewport" content="width=device-width"/>
</head>
Bura layoutdur
<body>
@RenderBody();

</body>
</html>
